<ion-header>
    <ion-navbar>
      <ion-title>颐和园古建巡检</ion-title>
      <ion-buttons right>
        <button ion-button icon-only (click)="inspectMenu()">
            <ion-icon name="ios-menu"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons right>
        <button ion-button icon-only (click)="inspectMenu()">
              <ion-icon name="ios-search"></ion-icon>
            </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <button *ngFor="let item of scenery" class="item-ios" ion-item (click)="openCreatePage(item.id)">
          <h2>{{item.name}}</h2>
          <p style="color:#989898;font-size:1.3rem;">{{item.parentName}}</p>
          <p *ngIf="!item.inspectTime" item-end style="color:#989898;margin-top:0;">——</p>
          <p *ngIf="item.inspectTime" item-end style="color:#989898;margin-top:0;">{{ item.inspectTime }}</p>
    </button>
  </ion-content>
  <ion-menu id="inspectMenuPage" type="overlay" [content]="inspectCreateNav">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{titleName}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button *ngFor="let menu of menuList" ion-item (click)="openPage(menu.id)">
              {{menu.name}}
            </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="inspectMenuPage" #inspectCreateNav [root]="InspectViewPage"></ion-nav>