page-login {
    .fixed-content, .scroll-content{
        overflow: hidden;
    }
    form {
        margin-top: 20%;
         //background: #fff;
        .item-block {
            padding-right: 16px;
            background:none
        }
    }
    .scroll-content{
        background-image:url('../assets/icon/bg_login.png');
        background-repeat:no-repeat;
        background-size: 100% 100%;
    }
   
}
    