<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="closePage()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>巡检内容</ion-title>
    <ion-buttons right *ngIf="isView=='false'">
      <button ion-button outline icon-left padding block text-left (click)="submitData()">
        <ion-icon name="md-cloud-done"></ion-icon>
        保存
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="isView=='false'" name="dataSource">
    <ion-list>
      <ion-list class="gray-title">
        <ion-list-header>位置</ion-list-header>
        <ion-item>
          <ion-textarea rows="3"  placeholder="请输入病害位置" [(ngModel)]="dataSource.location" style="height:6em;" name="name"></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-list class="gray-title">
        <ion-list-header style="border-top:none;">巡查情况描述</ion-list-header>
        <ion-item>
          <ion-textarea rows="3" placeholder="请输入情况描述" [(ngModel)]="dataSource.inspectDescription" style="height:6em;" name="name"></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-item style="border-top:1px solid #ddd">
        <ion-label>严重程度</ion-label>
        <ion-select okText="确定" cancelText="取消" name="damamgeDegree" placeholder="请选择严重程度" [(ngModel)]="dataSource.diseaseLevel"
          multiple="false">
          <ion-option *ngFor="let item of damamgeDegreeSource" value={{item.key}}>{{item.value}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="border-bottom:1px solid #ddd">
        <ion-label>工种</ion-label>
        <ion-select okText="确定" cancelText="取消" name="workType" placeholder="请选择工种类别" [(ngModel)]="dataSource.workType" multiple="false">
          <ion-option *ngFor="let item of workTypeSource" value={{item.key}}>{{item.value}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-list class="gray-title" style="margin-bottom:2em;">
        <ion-list-header style="border-top:none;border-bottom:1px solid #ddd;">巡检附件</ion-list-header>
        <ion-item>
          <div class="addPics-wrapper">
            <div *ngFor="let fileObj of fileObjList;let i = index" class="pictures" (press)="deleteInspectPicture(i)">
              <img src="{{getPicUrl(fileObj)}}" (click)="viewerInspectPicture(i)">
            </div>
            <div class="profile-image-wrapper" (click)="getPicture()">
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-list radio-group class="gray-title" [(ngModel)]="dataSource.isRepaired">
        <ion-list-header style="border-top:none;border-bottom:1px solid #ddd;">
          是否修缮
        </ion-list-header>

        <ion-item style="border-bottom:1px solid #ddd;">
          <ion-label>否</ion-label>
          <ion-radio value="false"></ion-radio>
        </ion-item>

        <ion-item style="border-bottom:1px solid #ddd;">
          <ion-label>是</ion-label>
          <ion-radio value="true"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list class="gray-title" *ngIf='dataSource.isRepaired=="true"'>
        <ion-list-header style="border-top:none;">修缮情况描述</ion-list-header>
        <ion-item>
          <ion-textarea rows="3" placeholder="请输入修缮情况描述" [(ngModel)]="dataSource.repairDescription" style="height:6em;"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>

  <div *ngIf="isView=='true'" name="dataSource">
    <ion-list>
      <ion-list class="gray-title" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header>位置</ion-list-header>
        <ion-item>
          <div *ngIf="dataSource.location" style="min-height:80px;background:#fff; color:#000;">{{dataSource.inspectDescription}}</div>
        </ion-item>
      </ion-list>

      <ion-list class="gray-title" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header style="border-top:none;">巡查情况描述</ion-list-header>
        <ion-item>
          <div *ngIf="dataSource.inspectDescription" style="min-height:80px;background:#fff; color:#000;">{{dataSource.inspectDescription}}</div>
        </ion-item>
      </ion-list>

      <ion-item style="border-top:1px solid #ddd">
        <ion-label>严重程度</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '313'" class="result">轻微待观察</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '314'" class="result">一般无明恶化迹象</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '315'" class="result">中等有恶化迹象</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '316'" class="result">严重需立即修复</ion-label>
      </ion-item>
      <ion-item style="border-bottom:1px solid #ddd">
        <ion-label>工种</ion-label>
        <ion-label *ngIf="dataSource.workType == '1'" class="result">瓦作</ion-label>
        <ion-label *ngIf="dataSource.workType== '2'" class="result">木作</ion-label>
        <ion-label *ngIf="dataSource.workType == '3'" class="result">油作</ion-label>
        <ion-label *ngIf="dataSource.workType == '4'" class="result">石作</ion-label>
      </ion-item>
      <ion-list class="gray-title" style="margin-bottom:2em;" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header style="border-top:none;border-bottom:1px solid #ddd;">巡检附件</ion-list-header>
        <ion-item>
          <div class="addPics-wrapper">
            <div *ngFor="let fileObj of fileObjList;let i = index" class="pictures">
              <img src="{{getPicUrl(fileObj)}}" (click)="viewerInspectPicture(i)">
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-item style="border:1px solid #e8e8e8;">
          <ion-label>是否修缮</ion-label>
          <ion-label class="result">已修缮</ion-label>
        </ion-item>
      <ion-list class="gray-title" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header style="border-top:none;">修缮情况描述</ion-list-header>
        <ion-item>
          <div *ngIf="dataSource.repairDescription" style="min-height:6em;background:#fff; color:#000;">{{dataSource.inspectDescription}}</div>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>
</ion-content>