page-tz-index {
    .bar-button-md[icon-only] ion-icon {
        font-size: 1.4em;
    
    }
    .searchbar-md .searchbar-input {
        line-height: 2.5rem;
    }
    .button-large-md {
        height: 2.3em;
        width: 6em;
    }
}