<ion-item-group>
  <ion-item-divider color="light" style="font-size:1.3em;">
    油饰彩画
  </ion-item-divider>
  <ion-item>
    <ion-label>下架柱子</ion-label>
    <ion-select okText="确定" cancelText="取消" placeholder="请输入下架柱子" name="" multiple="false">
      <ion-option *ngFor="let item of dropdownDS._08xjzz"  value="{{item}}">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list radio-group>
    <ion-item class="item1">梁架彩画</ion-item>
    <ion-item class="item2">
      <ion-label>有</ion-label>
      <ion-radio value="true" (click)="showOrHide1(false)"></ion-radio>
    </ion-item>
    <ion-item class="item3">
      <ion-label>无</ion-label>
      <ion-radio value="false" (click)="showOrHide1(true)"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label [class.disabled]="show1">彩画类型</ion-label>
    <ion-select okText="确定" cancelText="取消" placeholder="请输入彩画类型" name="" multiple="false" [disabled]="show1">
      <ion-option *ngFor="let item of dropdownDS._08ljchlx"  value="{{item}}">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list radio-group>
    <ion-item class="item1">天花彩画</ion-item>
    <ion-item class="item2">
      <ion-label>有</ion-label>
      <ion-radio value="true" (click)="showOrHide2(false)"></ion-radio>
    </ion-item>
    <ion-item class="item3">
      <ion-label>无</ion-label>
      <ion-radio value="false" (click)="showOrHide2(true)"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label [class.disabled]="show2">彩画类型</ion-label>
    <ion-select okText="确定" cancelText="取消" placeholder="请输入彩画类型" name="" multiple="false" [disabled]="show2">
      <ion-option *ngFor="let item of dropdownDS._08thchlx"  value="{{item}}">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <div style="clear:both;"></div>
</ion-item-group>