page-inspect-history{
    .scroll-content {
        padding-bottom: 80px;
        .black-h2 h2 {
            color: #000;
            font-weight: bold;
        }
        .ion-ios-sad-outline{
            font-size: 3.6em;
            margin-right: 0.1em;
            display: block;
        }
        .empty-contain{
            color:#868686;
            font-size: 1.1em;
            margin-top: 13em;
        }
    }

}
