<ion-header>

  <ion-navbar>
    <ion-title>巡查记录</ion-title>
        <ion-buttons right>
      <button ion-button icon-only (click)="searchHistory()">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
 
    <button ion-item *ngFor="let property of dataSource" (click)="itemSelected(property)" class="item-ios">
      <h2 style="color:#000;font-weight:bold;">{{ property.name }}</h2>
      <div *ngIf="property.status == 1"><p style="color:green;font-size:1.3rem;">巡查正常</p></div>
      <div *ngIf="property.status == 2"><p style="color:red;font-size:1.3rem;">巡查出现问题</p></div>
      <div *ngIf="property.status == 3"><p style="color:#4977b2;font-size:1.3rem;">问题已处理</p></div>
      <div *ngIf="property.status == 4"><p style="color:gray;font-size:1.3rem;">未巡查</p></div>
      <div *ngIf="property.status == 5"><p style="color:orange;font-size:1.3rem;">巡查未完成</p></div>
      <p *ngIf="property.createTime" item-end style="color:#989898;margin-top:0;">{{ property.createTime }}</p>
       <p *ngIf="!property.createTime" item-end style="color:#989898;margin-top:0;">——</p>
      <!--<ion-icon item-end name="ios-create-outline" style="margin-left:5px;" small></ion-icon>-->
    </button>
</ion-content>