<ion-header>
  <ion-navbar>
    <ion-title>台账填报</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="save()">
        保存
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar class="left-bar">
    <button ion-button class="left-button" (click)="toggleMenu()">
        <ion-icon *ngFor="let menu of menuList" class="menu.id" [class.active]="menu.id==selectedMenuId" name="arrow-forward"></ion-icon>    
   <br />
      </button>
  </ion-toolbar>



  <ion-menu type="overlay" [content]="content">
    <ion-content>
      <ion-list>
        <button *ngFor="let menu of menuList" [class.selected]="menu.id==selectedMenuId" ion-item (click)="openPage(menu.id)">
            {{menu.name}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav id="nav" #content [root]="rootPage">

  </ion-nav>



</ion-content>