<ion-header>
  <ion-navbar>
    <ion-title>台账填报</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="save()">
        保存
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="submit()">提交</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu id="tzCreateMenu" class="menu" type="overlay" [content]="tzCreateNav">
  <ion-list>
    <button *ngFor="let menu of menuList" [class.selected]="menu.id==selectedMenuId" ion-item (click)="openPage(menu.id)">
      {{menu.name}}
    </button>
  </ion-list>
</ion-menu>
<ion-nav id="tzCreateNav" #tzCreateNav [root]="TZCreatePage"> </ion-nav>

<ion-content>

  <ion-toolbar class="left-bar">
    <button ion-button class="left-button" (click)="toggleMenu()">
        <ion-icon *ngFor="let menu of menuList" class="menu.id" [class.active]="menu.id==selectedMenuId" name="arrow-dropright"></ion-icon>    
   <br />
      </button>
  </ion-toolbar>

  <ion-card>
    <ion-card style="font-size:1.5em;color:#4977b2;">
      基本信息
    </ion-card>
    <ion-item>
      <ion-label>建筑编号</ion-label>
      <ion-input right type="text" placeholder="请输入建筑编号" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>建筑名称</ion-label>
      <ion-input right type="text" placeholder="请输入建筑名称" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>建筑方位</ion-label>
      <ion-input right type="text" placeholder="请输入建筑方位" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>建筑面积【M²】</ion-label>
      <ion-input right type="text" placeholder="请输入建筑面积" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>所属景区</ion-label>
      <ion-input right type="text" placeholder="请输入建筑所属景区" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>海拔高程【M】</ion-label>
      <ion-input right type="text" placeholder="请输入建筑海拔高程" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>结构类型</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入建筑结构类型" name="Type" multiple="false">
        <ion-option value="1">木</ion-option>
        <ion-option value="2">砖木</ion-option>
        <ion-option value="3">石木</ion-option>
        <ion-option value="4">砖石</ion-option>
        <ion-option value="5">铜铸仿木</ion-option>
        <ion-option value="6">其他类型</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>建筑形式</ion-label>
      <ion-textarea placeholder="请输入建筑形式" name="Type"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>建筑功能</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入建筑功能" name="Type" multiple="false">
        <ion-option value="1">办公用房</ion-option>
        <ion-option value="2">监控室</ion-option>
        <ion-option value="3">游览建筑</ion-option>
        <ion-option value="4">原状陈设</ion-option>
        <ion-option value="5">商业</ion-option>
        <ion-option value="6">厕所</ion-option>
        <ion-option value="7">库房</ion-option>
        <ion-option value="8">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>始建年代【年】</ion-label>
      <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" placeholder="请输入建筑始建年代" cancelText="取消" doneText="确定"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>现存年代【年】</ion-label>
      <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" placeholder="请输入建筑现存年代" cancelText="取消" doneText="确定"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>最后修缮时间【年】</ion-label>
      <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" placeholder="请输入建筑最后修缮时间" cancelText="取消" doneText="确定"></ion-datetime>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card style="font-size:1.5em;color:#4977b2;">
      平面形制
    </ion-card>
    <ion-item>
      <ion-label>基本形制</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入建筑基本形制" name="Type" multiple="false">
        <ion-option value="1">金厢斗底槽</ion-option>
        <ion-option value="2">分心斗底槽</ion-option>
        <ion-option value="3">双槽</ion-option>
        <ion-option value="4">单槽</ion-option>
        <ion-option value="5">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>平面形状</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入建筑平面形状" name="Type" multiple="false">
        <ion-option value="1">矩形</ion-option>
        <ion-option value="2">六角形</ion-option>
        <ion-option value="3">八角形</ion-option>
        <ion-option value="4">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="width:40%;float:left;">
        <ion-label>楼梯</ion-label>
      </ion-item>
    <ion-list radio-group style="width:60%;float:right;">
      <button ion-item style="width:50%;float:left;">
        <ion-label>有</ion-label>
        <ion-radio value="true"></ion-radio>
      </button>
      <button ion-item style="width:50%;float:right;">
        <ion-label>无</ion-label>
        <ion-radio value="false"></ion-radio>
      </button>
    </ion-list>
    <!-- <div class="btn-group" role="radio-group" aria-label="..." style="width:100%;">

        <button type="button" class="btn btn-default">Left</button>
      <button type="button" class="btn btn-default">Middle</button>
      <button type="button" class="btn btn-default">Right</button>
    </div> -->
    <ion-list radio-group>
      <button ion-item style="width:50%;float:left;">
        <ion-label>有抱厦</ion-label>
        <ion-radio value="有抱厦"></ion-radio>
      </button>
      <button ion-item style="width:50%;float:right;">
        <ion-label>无抱厦</ion-label>
        <ion-radio value="无抱厦"></ion-radio>
      </button>
    </ion-list>
    <ion-list radio-group>
      <button ion-item style="width:50%;float:left;">
        <ion-label>有前廊</ion-label>
        <ion-radio value="有前廊"></ion-radio>
      </button>
      <button ion-item style="width:50%;float:right;">
        <ion-label>无前廊</ion-label>
        <ion-radio value="无前廊"></ion-radio>
      </button>
    </ion-list>
    <ion-list radio-group>
      <button ion-item style="width:50%;float:left;">
        <ion-label>有周围廊</ion-label>
        <ion-radio value="有周围廊"></ion-radio>
      </button>
      <button ion-item style="width:50%;float:right;">
        <ion-label>无周围廊</ion-label>
        <ion-radio value="无周围廊"></ion-radio>
      </button>
    </ion-list>
    <ion-list radio-group>
      <button ion-item style="width:50%;float:left;">
        <ion-label>有后廊</ion-label>
        <ion-radio value="有后廊"></ion-radio>
      </button>
      <button ion-item style="width:50%;float:right;">
        <ion-label>无后廊</ion-label>
        <ion-radio value="无后廊"></ion-radio>
      </button>
    </ion-list>
    <ion-item>
      <ion-label>面阔</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入面阔" name="Type" multiple="false">
        <ion-option value="1">1间</ion-option>
        <ion-option value="2">2间</ion-option>
        <ion-option value="3">3间</ion-option>
        <ion-option value="4">5间</ion-option>
        <ion-option value="5">7间</ion-option>
        <ion-option value="6">9间</ion-option>
        <ion-option value="7">11间</ion-option>
        <ion-option value="8">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>通面阔尺寸【M】</ion-label>
      <ion-input right type="text" placeholder="请输入通面阔尺寸" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>进深</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入进深" name="Type" multiple="false">
        <ion-option value="1">1进</ion-option>
        <ion-option value="2">2进</ion-option>
        <ion-option value="3">3进</ion-option>
        <ion-option value="4">4进</ion-option>
        <ion-option value="5">5进</ion-option>
        <ion-option value="6">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>进深尺寸【M】</ion-label>
      <ion-input right type="text" placeholder="请输入进深尺寸" value=""></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card style="font-size:1.5em;color:#4977b2;">
      台基地面
    </ion-card>
    <ion-item>
      <ion-label>台基材料</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入台基材料" name="Type" multiple="false">
        <ion-option value="1">石</ion-option>
        <ion-option value="2">砖</ion-option>
        <ion-option value="3">砖石</ion-option>
        <ion-option value="4">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>台基形式</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入台基形式" name="Type" multiple="false">
        <ion-option value="1">普通</ion-option>
        <ion-option value="2">须弥座</ion-option>
        <ion-option value="3">无台基</ion-option>
        <ion-option value="4">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>台基尺寸【M】</ion-label>
      <ion-input right type="text" placeholder="请输入台基尺寸" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>地面材料</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入地面材料" name="Type" multiple="false">
        <ion-option value="1">方砖</ion-option>
        <ion-option value="2">石板</ion-option>
        <ion-option value="3">条砖</ion-option>
        <ion-option value="4">夯土地面</ion-option>
        <ion-option value="5">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>地面做法</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入地面做法" name="Type" multiple="false">
        <ion-option value="1">细墁</ion-option>
        <ion-option value="2">淌白</ion-option>
        <ion-option value="3">糙墁</ion-option>
        <ion-option value="4">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-card-header color=primary>
      其他构件
    </ion-card-header>
    <ion-card-content>
      <ion-list radio-group>
        <button ion-item style="width:50%;float:left;">
            <ion-label>有炉坑</ion-label>
            <ion-radio value="有炉坑"></ion-radio>
          </button>
        <button ion-item style="width:50%;float:right;">
            <ion-label>无炉坑</ion-label>
            <ion-radio value="无炉坑"></ion-radio>
          </button>
      </ion-list>
      <ion-item>
        <ion-label>炉坑数量【个】</ion-label>
        <ion-input right type="text" placeholder="请输入炉坑数量" value=""></ion-input>
      </ion-item>
      <ion-list radio-group>
        <button ion-item style="width:50%;float:left;">
            <ion-label>有月台</ion-label>
            <ion-radio value="有月台"></ion-radio>
          </button>
        <button ion-item style="width:50%;float:right;">
            <ion-label>无月台</ion-label>
            <ion-radio value="无月台"></ion-radio>
          </button>
      </ion-list>
      <ion-list radio-group>
        <button ion-item style="width:50%;float:left;">
            <ion-label>月台有栏杆栏板</ion-label>
            <ion-radio value="月台有栏杆栏板"></ion-radio>
          </button>
        <button ion-item style="width:50%;float:right;">
            <ion-label>月台无栏杆栏板</ion-label>
            <ion-radio value="月台无栏杆栏板"></ion-radio>
          </button>
      </ion-list>
      <ion-item>
        <ion-label>栏板块数【块】</ion-label>
        <ion-input right type="text" placeholder="请输入栏板块数" value=""></ion-input>
      </ion-item>
      <ion-list radio-group>
        <button ion-item style="width:50%;float:left;">
            <ion-label>有台阶</ion-label>
            <ion-radio value="有台阶"></ion-radio>
          </button>
        <button ion-item style="width:50%;float:right;">
            <ion-label>无台阶</ion-label>
            <ion-radio value="无台阶"></ion-radio>
          </button>
      </ion-list>
      <ion-item>
        <ion-label>台阶组数【组】</ion-label>
        <ion-input right type="text" placeholder="请输入台阶组数" value=""></ion-input>
      </ion-item>
      <ion-list radio-group>
        <button ion-item style="width:50%;float:left;">
            <ion-label>有抱鼓石</ion-label>
            <ion-radio value="有抱鼓石"></ion-radio>
          </button>
        <button ion-item style="width:50%;float:right;">
            <ion-label>无抱鼓石</ion-label>
            <ion-radio value="无抱鼓石"></ion-radio>
          </button>
      </ion-list>
      <ion-item>
        <ion-label>抱鼓石数量【个】</ion-label>
        <ion-input right type="text" placeholder="请输入抱鼓石数量" value=""></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>