<ion-header>

  <ion-navbar>
    <ion-title>巡检内容</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div name="dataSource" *ngIf="dataSource">
    <ion-item>
      <ion-label>巡检区域</ion-label>
      <ion-label class="result">{{dataSource.AreaName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>所属景区</ion-label>
      <ion-label class="result">{{dataSource.SceneryName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>古建筑</ion-label>
      <ion-label class="result">{{dataSource.AncientName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> 病害情况</ion-label>
      <ion-label class="result">{{diseaseData}}</ion-label>
    </ion-item>
    <ion-list>
      <ion-list class="gray-title" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header>位置</ion-list-header>
        <ion-item>
          <div *ngIf="dataSource.location" style="min-height:80px;background:#fff; color:#000;">{{dataSource.inspectDescription}}</div>
        </ion-item>
      </ion-list>

      <ion-list class="gray-title" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header style="border-top:none;">巡查情况描述</ion-list-header>
        <ion-item>
          <div *ngIf="dataSource.inspectDescription" style="min-height:80px;background:#fff; color:#000;">{{dataSource.inspectDescription}}</div>
        </ion-item>
      </ion-list>

      <ion-item style="border-top:1px solid #ddd">
        <ion-label>严重程度</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '313'" class="result">轻微待观察</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '314'" class="result">一般无明恶化迹象</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '315'" class="result">中等有恶化迹象</ion-label>
        <ion-label *ngIf="dataSource.diseaseLevel == '316'" class="result">严重需立即修复</ion-label>
      </ion-item>
      <ion-item style="border-bottom:1px solid #ddd">
        <ion-label>工种</ion-label>
        <ion-label *ngIf="dataSource.workType == '1'" class="result">瓦作</ion-label>
        <ion-label *ngIf="dataSource.workType== '2'" class="result">木作</ion-label>
        <ion-label *ngIf="dataSource.workType == '3'" class="result">油作</ion-label>
        <ion-label *ngIf="dataSource.workType == '4'" class="result">石作</ion-label>
      </ion-item>
      <ion-list class="gray-title" style="margin-bottom:2em;" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header style="border-top:none;border-bottom:1px solid #ddd;">巡检附件</ion-list-header>
        <ion-item style="border-bottom:1px solid #ddd;">
          <div class="addPics-wrapper">
            <div *ngFor="let fileObj of fileObjList;let i = index" class="pictures">
              <img src="{{getPicUrl(fileObj)}}" (click)="viewerInspectPicture(i)">
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-item style="border:1px solid #e8e8e8;">
        <ion-label>是否修缮</ion-label>
        <ion-label *ngIf="dataSource.isRepaired=='true'" class="result">已修缮</ion-label>
        <ion-label *ngIf="dataSource.isRepaired=='false'" class="result">未修缮</ion-label>
      </ion-item>
      <ion-list class="gray-title" *ngIf="dataSource.isRepaired=='true'" style="border-bottom:1px solid #e8e8e8;">
        <ion-list-header style="border-top:none;">修缮情况描述</ion-list-header>
        <ion-item>
          <div *ngIf="dataSource.repairDescription" style="min-height:6em;background:#fff; color:#000;">{{dataSource.repairDescription}}</div>
        </ion-item>
      </ion-list>
      <ion-item style="border:1px solid #e8e8e8;" *ngIf="dataSource.isRepaired=='true'">
        <ion-label>修缮时间</ion-label>
        <ion-label class="result">{{dataSource.respairTime}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>