<ion-content>

  <ion-list >
    <ion-list-header>
      台基地面
    </ion-list-header>
    <ion-item>
      <ion-label>台基材料</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入台基材料" name="" multiple="false">
        <ion-option value="1">石</ion-option>
        <ion-option value="2">砖</ion-option>
        <ion-option value="3">砖石</ion-option>
        <ion-option value="4">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>台基形式</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入台基形式" name="" multiple="false">
        <ion-option value="1">普通</ion-option>
        <ion-option value="2">须弥座</ion-option>
        <ion-option value="3">无台基</ion-option>
        <ion-option value="4">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>台基高度【mm】</ion-label>
      <ion-input right type="text" placeholder="请输入台基高度" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>地面材料</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入地面材料" name="" multiple="false">
        <ion-option value="1">方砖</ion-option>
        <ion-option value="2">石板</ion-option>
        <ion-option value="3">条砖</ion-option>
        <ion-option value="4">夯土地面</ion-option>
        <ion-option value="5">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>地面做法</ion-label>
      <ion-select okText="确定" cancelText="取消" placeholder="请输入地面做法" name="" multiple="false">
        <ion-option value="1">细墁</ion-option>
        <ion-option value="2">淌白</ion-option>
        <ion-option value="3">糙墁</ion-option>
        <ion-option value="4">其他</ion-option>
      </ion-select>
    </ion-item>
    <ion-list radio-group>
      <ion-item class="item1">月台</ion-item>
      <ion-item class="item2">
        <ion-label>有</ion-label>
        <ion-radio value="true" (click)="showOrHide1(1)"></ion-radio>
      </ion-item>
      <ion-item class="item3" >
        <ion-label>无</ion-label>
        <ion-radio value="false" (click)="showOrHide1(0)"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list radio-group *ngIf="show1">
      <ion-item class="item1">月台栏杆、栏板</ion-item>
      <ion-item class="item2">
        <ion-label>有</ion-label>
        <ion-radio value="true"></ion-radio>
      </ion-item>
      <ion-item class="item3">
        <ion-label>无</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
    </ion-list>
    
    <ion-list radio-group>
        <ion-item class="item1">台阶</ion-item>
        <ion-item class="item2">
          <ion-label>有</ion-label>
          <ion-radio value="true" (click)="showOrHide2(1)"></ion-radio>
        </ion-item>
        <ion-item class="item3" >
          <ion-label>无</ion-label>
          <ion-radio value="false" (click)="showOrHide2(0)"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="show2">
          <ion-label>台阶组数【组】</ion-label>
          <ion-input right type="text" placeholder="请输入台阶组数" value=""></ion-input>
        </ion-item>

        <ion-list radio-group>
            <ion-item class="item1">抱鼓石</ion-item>
            <ion-item class="item2">
              <ion-label>有</ion-label>
              <ion-radio value="true" (click)="showOrHide3(1)"></ion-radio>
            </ion-item>
            <ion-item class="item3" >
              <ion-label>无</ion-label>
              <ion-radio value="false" (click)="showOrHide3(0)"></ion-radio>
            </ion-item>
          </ion-list>
          <ion-item *ngIf="show3">
              <ion-label>抱鼓石数量【个】</ion-label>
              <ion-input right type="text" placeholder="请输入抱鼓石数量" value=""></ion-input>
            </ion-item>


  </ion-list>

</ion-content>