<ion-item-group>
  <ion-item-divider color="light" style="font-size:1.3em;">
    平面形制
  </ion-item-divider>
  <ion-item>
    <ion-label>平面形状</ion-label>
    <ion-select okText="确定" cancelText="取消" placeholder="请输入平面形状" name="" multiple="false">
      <ion-option *ngFor="let item of dropdownDS._02pmxz"  value="{{item}}">{{item}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list radio-group  class="radio">
    <ion-item class="item1">楼梯</ion-item>
    <ion-item >
      <ion-label>有</ion-label>
      <ion-radio value="有"></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>无</ion-label>
      <ion-radio value="无"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group  class="radio">
    <ion-item  class="item1">抱厦</ion-item>
    <ion-item >
      <ion-label>有</ion-label>
      <ion-radio value="有"></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>无</ion-label>
      <ion-radio value="无"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group  class="radio">
    <ion-item  class="item1">前廊</ion-item>
    <ion-item >
      <ion-label>有</ion-label>
      <ion-radio value="有"></ion-radio>
    </ion-item>
    <ion-item >
      <ion-label>无</ion-label>
      <ion-radio value="无"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group  class="radio">
    <ion-item  class="item1">周围廊</ion-item>
    <ion-item >
      <ion-label>有</ion-label>
      <ion-radio value="有"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>无</ion-label>
      <ion-radio value="无"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group  class="radio">
    <ion-item class="item1">后廊</ion-item>
    <ion-item>
      <ion-label>有</ion-label>
      <ion-radio value="有"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>无</ion-label>
      <ion-radio value="无"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>面阔</ion-label>
    <ion-select okText="确定" cancelText="取消" placeholder="请输入面阔" name="" multiple="false">
       <ion-option *ngFor="let item of dropdownDS._02mk"  value="{{item}}">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>通面阔尺寸【mm】</ion-label>
    <ion-input right type="text" placeholder="请输入通面阔尺寸" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>进深</ion-label>
    <ion-select okText="确定" cancelText="取消" placeholder="请输入进深" name="" multiple="false">
       <ion-option *ngFor="let item of dropdownDS._02js"  value="{{item}}">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>通进深尺寸【mm】</ion-label>
    <ion-input right type="text" placeholder="请输入通进深尺寸" value=""></ion-input>
  </ion-item>
  <div style="clear:both;"></div>
</ion-item-group>